/**
 * Grid
 */


@if $enable-grid-classes {
  // Create row.
  .row {
    @include make-row;

    // Make all children of row column ready.
    > * {
      @include make-col-ready;
    }
  }

  // Create columns.
  @include make-grid-columns;
}

.wrapper {
  max-width: 1240px;
  padding: 0 $spacer;
  margin: 0 auto;
  width: 100%;
	@include media-breakpoint-up(sm) {
		padding: 0 $spacer * 2;
	}
}

.site {
  overflow: hidden;
}
