.the-content,
.ld-tab-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $spacer;
  }

  h1 {
    @extend .t-h1;
		margin-bottom: $spacer * 3;
  }

  h2 {
    @extend .t-h2;
  }

  h3 {
    @extend .t-h3;
  }


  hr {
    margin-block: calc($spacer * 2);
  }

  p,
  ul,
  ol,
  dl {
    margin-bottom: calc($spacer / 2);
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: calc($spacer * 2);
  }
}
