/**
 * Variables
 */


/**
 * Rem settings
 */
$rem-size: 10px;


/**
 * Colors
 */

$colors: (
  "white":   #fff,
  "black":   #000,
  "primary": #f2b808,
);


/**
 * Spacing
 */

$spacer: .8rem;

$spacers: (
  0: 0,
  1: calc($spacer * 1),
  2: calc($spacer * 2),
  3: calc($spacer * 3),
  4: calc($spacer * 4),
);


/**
 * Grid
 */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Check if $grid-breakpoints items are from lowest to highest and if it starts at zero.
@include assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$grid-columns:      12;
$grid-gutter-width: 24px;

// Setting that creates grid classes.
$enable-grid-classes: true;

// Grid row columns helper.
$grid-row-columns: 6;

// Gutters helper.
$gutters: (
  0: 0,
);

/**
 * Container
 */

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

// Check if $container-max-widths items are from lowest to highest.
@include assert-ascending($container-max-widths, "$container-max-widths");


/**
 * Display
 */

$displays: none, inline, inline-block, block, flex, inline-flex;


/**
 * Spacing
 */

// Enable negative margins for marking spacing utility classes.
$negative-margins: false;


/**
 * Flex utilities
 */

$flex-order: 6;


/**
 * Transitions
 */

$trans-duration-base:        .3s;
$trans-timing-function-base: ease-out;


/**
 * Typography
 */

// Type scale.

$type-scale: ();

$type-spacing:     calc($spacer * 3);
$headings-spacing: $type-spacing;

// Type breakpoint settings.

$type-breakpoint-settings: (
  xs: (),
  sm: (),
  md: (),
  lg: (),
  xl: (),
);


/**
 * Tables
 */

$table-padding:      $spacer;
$table-border-width: .1rem;
