/**
 * Header
 */
%header-gradient {
	$color-1: hsl(226, 60%, 10%);
	$color-2: hsl(226, 60%, 20%);
	background-size: 1600px, 100%;
	background-repeat: repeat, no-repeat;
  background-image: linear-gradient(
		135deg,
		$color-1 0%,
		$color-2 3%,
		$color-1 3%,
		$color-2 6%,
		$color-1 6%,
		$color-2 9%,
		$color-1 9%,
		$color-2 12%,
		$color-1 12%,
		$color-2 15%,
		$color-1 15%,
		$color-2 18%,
		$color-1 18%,
		$color-2 21%,
		$color-1 21%,
		$color-2 24%,
		$color-1 24%,
		$color-2 27%,
		$color-1 27%,
		$color-2 30%
	), linear-gradient(
		45deg,
		#FFF 0%,
		#999 20%,
	);
	background-blend-mode: multiply;
}

.header {
	@extend %header-gradient;
  color: var(--white);
  position: relative;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
		gap: $spacer;
		position: relative;

    @include media-breakpoint-up(md) {
      min-height: 100px;
    }
  }
}
